[submodule "sensores/client_ICM20649/Adafruit_CircuitPython_ICM20X"]
	path = sensores/client_ICM20649/Adafruit_CircuitPython_ICM20X
	url = https://github.com/mcpardo/Adafruit_CircuitPython_ICM20X.git

[submodule "sensores/client_BME680/bsec_bme680"]
	path = sensores/client_BME680/bsec_bme680
	url = https://github.com/mcpardo/bsec_bme680_linux.git
[submodule "sensores/client_MS5837/ms5837-python"]
	path = sensores/client_MS5837/ms5837-python
	url = https://github.com/mcpardo/ms5837-python.git
[submodule "sensores/client_STMKI210V2K/Adafruit_CircuitPython_LSM6DS"]
	path = sensores/client_STMKI210V2K/Adafruit_CircuitPython_LSM6DS
	url = https://github.com/mcpardo/Adafruit_CircuitPython_LSM6DS.git
